.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
img {
    width: 100%;
    height: auto;
}
.sanpham {
    border-radius: 9px;
    background-color: blanchedalmond;
    padding: 10px;
    margin-bottom: 20px;
    flex-shrink: 1;
    flex-basis: 30%;
}