.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    padding: 20px 0;
    min-width: 400px;
    max-width: 250px;
}

.toast__success {
    border-color: #47d864;
}
.toast__success .toast__icon {
    color: #47d864;
}

.toast__info {
    border-color: #2f86eb;
}

.toast__info .toast__icon {
    color: #2f86eb;
}
.toast__warning {
    border-color: #ffc021;
}

.toast__warning .toast__icon {
    color: #ffc021;
}
.toast__error {
    border-color: #ff623d;    
}

.toast__error .toast__icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 24px;
}
.toast__icon {
    font-size: 24px;

}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
}

.toast__close {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
