.header {
    height:  var( --header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}


.header__navbar-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px ;
    position: relative;
}


.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;   
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-block;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid #fb9086;
    right: -9px;
    top: 20%;
    
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.4s;
}

.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: -11px;
    height: 18px;
    display: block;
    
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-right: 10px;
}

.header__qr-dowload-img {
    height: 16px;
}

/* header notify */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0%;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid#D3D3D3;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotìyGrowth ease-in 0.2s;
    display: none;
}

@keyframes headerNotìyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
    cursor: text;
}

.header__notify-list {
    
}

.header__notify-item {
    
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.09);
    
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 33px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 2.6rem;
    color: #756F6E;
}

.header__notify-footer {
    display: flex;

}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 16px 48px;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Auth model */
.auth-form {
    width: 500px;
    overflow: hidden;
}
.auth-form__container {
    padding: 32px 45px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-family: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-family: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    
    padding: 7px;
}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 17px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
}

.auth-form__input:focus {
    border-color: #4805e4;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}


.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;

}

.auth-form__socials--fb {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials--fb
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials--gg {
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help--link {
    font-size: 1.4rem;
    text-decoration: none;
}

.auth-from__help-separate {

    border-left: 1px solid var(--border-color);
    height: 36px;
    margin: 0 16px;
}

.auth-form__aside {
    padding: 10px;
}

.modal {
    display: none;
}

/* header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
    
}

.header__logo-img {
    width: 150px;
    color: var();
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;

}

.header__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: 1px;
    background-color: var(--white-color);
    width: 380px;
    border-radius: 2px;
    box-shadow: 0 1px 3.123rem 0 rgba(0, 0, 0, 0.2);
    /* display: none; */
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

.header__cart-heading {
    text-align: center;
    margin: 8px 240px 8px 2px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8; 
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {

    margin-right: 12px;
    width: 100%;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-description {
    font-size: 1.2rem;
    color: #757575;   
    font-weight: 300; 
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--text-color);   
    font-weight: 400; 
}

.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}


.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 5px;
    top: -27px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}



.header__cart-no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    top: -13px;
    right: 4px;
    padding: 2px 4px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    line-height: 1.4rem;
}

.header__cart-list--no-cart {
    padding: 28px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__search-input-wrap {
    flex: 1;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;   
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
}


.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}


.header__search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
 
}


.header__search-select:hover .header__search-option {
    display: block;
}


.header__search-option {
    position: absolute;
    right: 0;
    margin-top: 12px;
    width: 136px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;
    overflow: hidden;
    border-radius: 2px;
    display: none;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px ;
    text-align: center;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* search history */

.header__search-history {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    margin-top: 12px;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 10px;
    list-style: none;
}

.header__search-history-list-item {
    height: 38px;
    padding: 0 3px;
}

.header__search-history-list-item:hover {
    background-color: #fafafa;

}

.header__search-history-list-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}